<p id="notice"><%= notice %></p>

<div class="container">
  <div class="row">
    <div class="col-md-3">
          <!--部分テンプレートの呼び出し↓-->
      <%= render 'books/userinfo', post_books: @post_books %>


    <div class="col-lg-8">

        <table class="table table-striped">
          <tbody>
            <% @users.each do |user| %>
              <tr>
                <td><%= post_book.profile_image %></td>
                <td><%= link_to post_book.name, user_path(current_user.id) %></td>
                <td><%= link_to post_book.title, user_path(current_post_book.id) %></td>
                <td><%= post_book.opinion %></td>
                <td><%= link_to 'Edit', edit_book_path(post) %></td>
                <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>